body {
    padding: 0;
    margin: 0;
}


#picme {
    width: 300px;
    height: auto;
}

/* section {
    display: grid;
    place-items: c;
    align-content: center;
    min-height: 100vh;
} */

/* .center-horizontal {
    margin: 0 auto;
}

.center-vertical {
    display: flex;
    align-items: center;
} */