/* Custom Fonts*/

@font-face {
  font-family: SourceCodePro;
  src: url(./assets/font/SourceCodePro.ttf);
  font-weight: 550;
  /* boldest font*/
}

@font-face {
  font-family: Vogue;
  src: url(./assets/font/Vogue.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: CormorantGaramond;
  src: url('./assets/font/CormorantGaramond.ttf') format('truetype');
  font-weight: 400;
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  /* don't overflow horizontally*/
  position: relative;
  background-color: #171717 !important;
  color: #fff !important;
  font-family: 'SourceCodePro', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --navbar-spacing: 18px;
  --gap-link-icons: 200px;
  /* Initial spacing */
}


.profile {
  position: absolute;
  /* Aligns both images in the same position */
  top: 0;
  left: 0;
  width: 100%;
  /* Ensure both images fully occupy the container */
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  object-fit: cover;
}

.profile-pic {
  position: absolute;
  /* Aligns both images in the same position */
  top: 0;
  left: 0;
  width: 100%;
  /* Ensure both images fully occupy the container */
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow:
    0 0 15px rgba(162, 207, 254, 0.5),
    0 0 25px rgba(162, 207, 254, 0.5),
    0 0 50px rgba(162, 207, 254, 0.5),
    0 0 100px rgba(162, 207, 254, 0.3);
  animation: glow 2s infinite alternate;
  transition: transform 0.6s ease-in-out;
}