/* Custom Fonts*/

@font-face {
  font-family: SourceCodePro;
  src: url(./assets/font/SourceCodePro.ttf);
  font-weight: 550;
  /* boldest font*/
}

@font-face {
  font-family: Vogue;
  src: url(./assets/font/Vogue.ttf);
  font-weight: 700;
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  /* don't overflow horizontally*/
  position: relative;
  background-color: #171717 !important;
  color: #fff !important;
  font-family: 'SourceCodePro', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --navbar-spacing: 18px;
  --gap-link-icons: 200px;
  /* Initial spacing */
}


nav.navbar {
  justify-content: space-between;
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  flex-wrap: nowrap;
  /* height: 60px; */
  /*todo*/
}

.custom-container {
  padding-left: 50px !important;
  padding-right: 50px !important;
  max-width: 1400px;
  /* Set a fixed max width if desired
  */
  margin: 0 auto;
}

nav.navbar.scrolled {
  padding: 0px 0;
  /* background-color: #171717; */
}

nav.navbar a.navbar-brand {
  padding-top: 8px;
  /* font-size: 30px; */
  font-family: 'Vogue', sans-serif;
  color: white;
}

.navbar-link:last-of-type {
  margin-right: var(--gap-link-icons);
}

nav.navbar {
  margin: 0 auto;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  transition: gap 0.1s ease-in-out;
  font-size: 18px;
  padding: 0 0 0 var(--navbar-spacing);
  opacity: 0.65;
}

/* 
nav.navbar .nav-link.navbar-link {
  padding: 0 0 0 var(--navbar-spacing);
} */

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 8px;
  flex-wrap: nowrap;
  /* min-width: 300px !important; */
}

.social-icon {
  min-width: 150px;
}

.social-icon a img {
  width: 50%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  margin-left: 8px;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a:before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover:before {
  transform: scale(1);
}

.social-icon a:hover img {
  filter: brightness(0%) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(100%) contrast(98%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 25px;
  font-size: 15px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #171717;
}

.navbar-text button:hover::before {
  width: 100%;
  height: 100%;
  position: absolute;
}


nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}


nav.navbar .navbar-toggler-icon::after,
nav.navbar .navbar-toggler-icon::before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon::after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.vvd {
  min-width: 170px;
  white-space: nowrap;
}

.banner {
  position: relative;
  margin-top: 0;
  padding: 260px 20px 100px 20px;
  /* background-image: url('./assets/img/stars.jpeg');
   */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 80%, #171717),
    url('./assets/img/stars.jpeg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}

.text-content,
.image-container {
  flex: 1;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.75); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), transparent);
  /* Black overlay with 50% opacity */
  z-index: 1;
  /* Position overlay above background */
}

.banner * {
  position: relative;
  z-index: 2;
  /* Ensure text content is above the overlay */
}

.text-content {
  text-align: left;
  /* padding-left: 15vw; */
}

.me-text {
  /* opacity: 0; */
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
  font-size: 20px;
  /* padding-left: 15vw; */
}

.welcome {
  opacity: 0;
  transform: translateX(100px);
  animation: fadeInRight 1.5s ease-out forwards;
  animation-delay: 0.5s;

}

.flip-container {
  opacity: 0;
  transform: translateX(100px);
  animation: fadeInRight 1.5s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.flip-container {
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}

.profile {
  position: absolute;
  /* Aligns both images in the same position */
  top: 0;
  left: 0;
  width: 100%;
  /* Ensure both images fully occupy the container */
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  object-fit: cover;
}

.profile-pic {
  position: absolute;
  /* Aligns both images in the same position */
  top: 0;
  left: 0;
  width: 100%;
  /* Ensure both images fully occupy the container */
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow:
    0 0 15px rgba(162, 207, 254, 0.5),
    0 0 25px rgba(162, 207, 254, 0.5),
    0 0 50px rgba(162, 207, 254, 0.5),
    0 0 100px rgba(162, 207, 254, 0.3);
  animation: glow 2s infinite alternate;
  transition: transform 0.6s ease-in-out;
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
  /* Keep the front image above initially */
}

.back {
  transform: rotateY(180deg);
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}


.banner h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.1;
  /* margin-bottom: 20px; */
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner img {
  transition: transform 0.6s ease-in-out;
  /* animation: updown 3s linear infinite; */
}



@keyframes updown {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  box-sizing: border-box;
  min-height: 100vh;
  gap: 50px;
}

.about-1,
.about-2,
.about-3 {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-out, transform 0.8s ease-out;
}

.about-visible {
  opacity: 1;
  transform: translateX(0);
}

.about-1 {
  transition-delay: 0.2s;
  /* First paragraph */
}

.about-2 {
  transition-delay: 0.5s;
  /* Second paragraph */
}

.about-3 {
  transition-delay: 0.8s;
  /* Third paragraph */
}

.about-me-pargraph {
  flex: 2;
  text-align: left;
  width: 500px;
  margin: 0 auto;
  font-size: 14px;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  gap: 20px;
}

.h2-title {
  font-size: 28px;
}

.swirl-text {
  font-size: 1.2rem;
  color: #d3d3d3;
  letter-spacing: 1px;
  white-space: nowrap;
}

.about-image {
  flex: 1;
  width: 225px;
  height: 225px;
  perspective: 1000px;
  margin: auto 0;
}

.about-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 50px 25px 50px;
  background-color: #1f1f1f;
  border-radius: 10px;
}

.about-content {
  display: flex;
  /* Use flexbox for side-by-side layout */
  align-items: flex-start;
  gap: 50px;
}

.marquee-box {
  width: 100%;
  overflow: hidden;
  background-color: #171717;
  border-radius: 10px;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
}

.marquee-content {
  display: inline-flex;
  /* gap: 50px; */
  animation: scrollInfinite 20s linear infinite;
}

.marquee-content span {
  font-size: 1rem;
  color: #f8f9fa;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  /* gap: 8px; */
  margin-right: 50px;
}

.marquee-box:hover .marquee-content {
  animation-play-state: paused;
}

/* Keyframes for Scrolling */
@keyframes scrollInfinite {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.skills-section {
  max-width: 900px;
  width: 100%;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 5 equal columns */
  gap: 15px;
}

.skills-title {
  font-size: 20px;
  text-align: left;
  padding: 0 0 10px;
}

.skill-card {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #1f1f1f;
  width: 175px;
  padding: 5px 15px 5px;
  border: 2px solid #ffffff87;
  box-shadow:
    0 0 15px rgba(162, 207, 254, 0.1),
    0 0 25px rgba(162, 207, 254, 0.1);
  /* 0 0 50px rgba(162, 207, 254, 0.1); */
  /* 0 0 100px rgba(162, 207, 254, 0.1); */
}

.skill-icon {
  width: 30px;
  /* Set smaller image size */
  height: auto;
  /* Maintain aspect ratio */
}

.skill-text {
  font-size: 13px;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
  margin-bottom: 50px;
}

.experience-section {
  max-width: 1000px;
  width: 100%;
}

.experience-header {
  text-align: left;
  padding: 0 0 40px;
}

.experience-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.experience-icon {
  border-radius: 10px;
  max-width: 100px;
  margin-left: 20px;
}

.experience-card {
  background-color: #1f1f1f;
  padding: 20px 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}